body {
    background-color: aquamarine;
    color: darkgoldenrod;
}
.heading {
    width: 80%;
    font-size: 22px;
}
.name_of_objects {
    color: darkgoldenrod;
}
#camera {
    border: 2px dash black;
    width: 350px;
    height: 300px;

}
#webcam_view {
    color: ivory;
}